.overview_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem;
  height: 100svh;
}
@media screen and (max-width: 576px) {
  .overview_container {
    padding: 1rem;
  }
}
.overview_container .overview_container_sub {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .carousel_item {
    flex-direction: column;
  }
}
.carousel_item div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .carousel_item div:nth-of-type(1) {
    width: 100%;
    height: 50%;
  }
}
.carousel_item div:nth-of-type(1) h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .carousel_item div:nth-of-type(1) h1 {
    font-size: 1rem;
    text-decoration: underline;
  }
}
.carousel_item div:nth-of-type(1) h2 {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.carousel_item div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .carousel_item div:nth-of-type(2) {
    width: 100%;
    height: 50%;
  }
}
.carousel_item div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btnDoc {
  transition: background-color 0.3s ease;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 15px;
}
.btnDoc:hover {
  background-color: rgb(0, 88.4938271605, 192);
}