.features_container {
  padding: 3rem;
  gap: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .features_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
  }
}
.features_container .features_container_sub {
  position: relative;
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .features_container .features_container_sub {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
.features_container .features_container_sub .features_container_sub_color {
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #CFEDE0;
  border-radius: 2rem;
}

@media screen and (max-width: 576px) {
  .anim_json {
    display: none;
  }
}

.features_list {
  display: flex;
  flex-direction: column;
}
.features_list h1 {
  transition: all 0.3s;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: vazirmatn;
}
.features_list h6 {
  transition: all 0.3s;
  text-align: start;
  font-weight: 300;
  font-family: vazirmatn;
}