@import '../../../mixins';

.features_container {

    // border: 1px solid black;
    padding: 3rem;
    // height: 100svh;
    gap: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include Mobile {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem;
    }

    .features_container_sub {
        position: relative;
        padding: 1rem;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;

        @include Mobile {
            grid-template-columns: 1fr;
            // grid-template-rows: repeat(2, 1fr);
            padding: 1rem;
        }

        .features_container_sub_color {
            transition: all .3s;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            // opacity: 0;
            background-color: #CFEDE0;
            border-radius: 2rem;

        }
    }
}

.anim_json {
    @include Mobile {
        display: none;
    }
}

.features_list {
    display: flex;
    flex-direction: column;

    h1 {
        transition: all .3s;
        font-weight: bolder;
        font-size: 1.5rem;
        font-family: vazirmatn;
    }

    h6 {
        // @include Mobile {
        //     font-size: c;
        // }
        // font-size: 2vw;
        transition: all .3s;
        text-align: start;
        font-weight: 300;
        font-family: vazirmatn;
    }
}